.form-box {
  max-width: 300px;
  margin: 0 auto;
  background-color: rgba(79, 180, 104, 1);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(238, 228, 228);
  font-family: Segoe UI Symbol;
  text-align: left;
}

.input-form {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 288px;
}

.select-form {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 300px;
}

select option[value="DISABLE"] {
  display: none;
}

.error {
  color: rgb(38, 52, 209);
  font-size: 15px;
}

h3 {
  margin-top: -10px;
  color: rgb(238, 228, 228);
  font-family: Segoe UI Symbol;
  font-size: 30px;
}


.selected-countries {
  margin-top: 1px;
}

.selected-country {
  display: inline-block;
  background-color: #e2e2e2;
  color: #333;
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  margin-left: 5px;
}

.delete-button:hover {
  color: #333;
}

.modal-form {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 23px;
  font-family: sans-serif;
}

.modal-content-form {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 45%;
  height: 25%;
}

.button-close-form {
  color: rgb(238, 228, 228);
  background-color: rgba(79, 180, 104, 1);
  border-radius: 5px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-close-form:hover,
.button-close-form:focus {
  background-color: #409656;
  text-decoration: none;
  cursor: pointer;
}
