.filter {
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
  width: 85%;  
  margin: 0 auto;
}

.button-filter {
  background-color: #4fb468;
  color: rgb(238, 228, 228);
  cursor: pointer;
  font-family: Segoe UI Symbol;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 10rem;
  border-width: 1px;
  padding: 0.1rem 2rem;
}

.button-filter:hover{
  background-color: #409656;
}


.select-filter {
  background-color: #4fb468;
  color: rgb(238, 228, 228);
  cursor: pointer;
  font-family: Segoe UI Symbol;
  font-size: 11px;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 10rem;
  border-width: 1px;
  padding: 0.1rem 2rem;
}

.input-filter {
  background-color: rgb(238, 228, 228);
  color: #4fb468;
  cursor: pointer;
  font-family: Segoe UI Symbol;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 10rem;
  border-width: 1px;
  padding: 0.1rem 2rem;
}
